<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Ruta</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

    <header>
        <div class = "title">
            <h1>Bienvenido a CycloQuest</h1>
        </div>
    </header>

        <div class="title_header">
            <h2>Agregar nueva Ruta</h2>
        </div>

    <div class="form-container">
        <form id="rutaForm" method="post" action="/api/rutas">
            <h4>Formulario de Ruta</h4>
            <label for="id">Id:</label>
            <input type="text" id="id" name="id"><br>

            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre"><br>

            <label for="descripcion">Descripción:</label>
            <input type="text" id="descripcion" name="descripcion"><br>

            <input type="submit" value="Enviar">
        </form>
    </div>
</body>
</html>
